# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  '.overlayer':
      'Line Ending Converter':
        'Convert To Unix Format': 'line-ending-converter:convert-to-unix-format'
        'Convert To Windows Format': 'line-ending-converter:convert-to-windows-format'
        'Convert To Old Mac Format': 'line-ending-converter:convert-to-old-mac-format'

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Line Ending Converter'
      'submenu': [
        { 'label': 'Convert To Unix Format', 'command': 'line-ending-converter:convert-to-unix-format' }
        { 'label': 'Convert To Windows Format', 'command': 'line-ending-converter:convert-to-windows-format' }
        { 'label': 'Convert To Old Mac Format', 'command': 'line-ending-converter:convert-to-old-mac-format' }
      ]
    ]
  }
]
